@import url("https://fonts.googleapis.com/css?family=Antic+Slab|Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico&display=swap");
/* =================================
Buttons
==================================== */
/* =================================
Gradient Text
==================================== */
/* =================================
Gradient Backgrounds
==================================== */
/* =================================
Effects and hovering
==================================== */
/* =================================
Keyframe - Spin
==================================== */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* =================================
Keyframe - Shake
==================================== */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-5px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(6px, 0, 0);
  }
}
/* =================================
Keyframe - Shimmer
==================================== */
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
/* =================================
Keyframe - Gradient
==================================== */
@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* =================================
Colors
==================================== */
/* =================================
Fonts
==================================== */
/*

=================================
Misc.
==================================== */
/*

=================================
Old Color Theme
==================================== */
/*$black: #000000;
$white : #ffffff;

$darkgray: #1e1b1f;
$pink: #c16797;
$teal: #49a3b1;
$brightteal: #eefeff;
$brightpink: #FFE6F3;*/
/* =================================
Character Selection Avatars
==================================== */
.charBox {
  border-radius: 50px;
  padding: 50px 50px 10px;
  margin: 5px;
  background: linear-gradient(0deg, #cf9db1 0%, #702849 100%);
  max-width: 250px;
}

.charBox:nth-child(odd) {
  background: linear-gradient(0deg, #83b0ba 0%, #1a5b6a 100%);
}

.charBox:hover {
  color: #ffffff;
  box-shadow: 0 0 30px #ffffff;
  text-shadow: 0 0 30px #ffffff;
  box-shadow: 0 0 20px #ffffff;
  background-position: 0 0, 0 0;
  transition-duration: 0.7s;
  cursor: pointer;
}

.charBox:hover:before {
  transform: scale(1.5);
  box-shadow: 0 0 15px #ffffff;
  filter: blur(5px);
  transform: scale(1.1);
}

.charinfo {
  text-align: center;
  border-radius: 20px;
  margin-top: 35px;
  background-color: rgba(45, 40, 47, 0.6);
}

.charinfo p {
  padding: 2px;
  font-size: 1.4em;
  font-family: "Antic Slab", serif;
  margin-bottom: 0;
  color: #ffffff;
}

.tubbie {
  max-width: 150px;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

.tubbie:hover {
  transform: scale(1.4);
}

/* =================================
Other
==================================== */
.characterSelectInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  text-align: center;
  font-family: "Antic Slab", serif;
  letter-spacing: 5px;
  color: #e5fdff;
  font-size: 1.6em;
  text-shadow: 0 5px 15px #1a5b6a;
  margin: 0 50px 0 0;
}

.selection-container {
  text-align: center;
  font-family: "Rock Salt", cursive;
  letter-spacing: 10px;
  color: #e5fdff;
  font-size: 1.6em;
  margin-bottom: 5px;
  margin-top: 5px;
  text-shadow: 0 5px 15px #1a5b6a;
}

.theChosen.charBox {
  box-shadow: 0 5px 50px #000000;
  transform: scale(1.1);
  background-color: #ffffff;
}

.theChosen img {
  transform: scale(1.4);
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 425px) {
  .characterSelectInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header {
    max-width: 170px;
  }
  .header h1 {
    letter-spacing: 2px;
    font-size: 1.4em;
    margin: 10px;
  }

  .selection-container {
    letter-spacing: 2px;
    font-size: 1.4em;
    margin-bottom: 10px;
    margin-top: 5px;
  }
}
/* =================================
  MODAL - How to Play
==================================== */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalBox {
  text-align: center;
}

.modal-content {
  background-color: #2D282F;
  margin: 10% auto;
  border: solid 2px white;
  border-radius: 20px;
  width: 75%;
  text-align: left;
  color: #e5fdff;
  font-family: "Antic Slab", serif;
  box-shadow: 0 0 10px #ffffff;
  font-size: 1.1em;
}

.modal-content p {
  padding: 20px;
}

.modal-content h1 {
  font-family: "Rock Salt", cursive;
  color: #e5fdff;
  text-align: center;
  font-size: 2em;
  background: rgba(26, 91, 106, 0.7);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 0;
  border-bottom: solid 2px #e5fdff;
}

.close {
  padding: 10px;
  text-align: center;
}

.confirmHelp {
  font-family: "Antic Slab", serif;
  letter-spacing: 0.2em;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.7s ease 0s;
  cursor: pointer;
  border: solid 2px white;
  background-color: #1a5b6a;
  color: #e5fdff;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 5px;
}

.confirmHelp:hover {
  color: #ffffff;
  box-shadow: 0 0 30px #ffffff;
  text-shadow: 0 0 30px #ffffff;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 769px) {
  .modalBox {
    text-align: center;
    margin-left: auto;
    font-size: 0.7em;
  }
}
@media only screen and (max-width: 425px) {
  .modal-content {
    font-size: 1.3em;
  }
}
/* =================================
  MODAL - Traps
==================================== */
.trap-content {
  width: 50%;
  text-align: center;
  color: #e5fdff;
  font-size: 1.5em;
}

.trap-content p {
  padding: 20px;
}

.trap-content h1 {
  background: rgba(112, 40, 73, 0.7);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin: 0;
  border-bottom: solid 2px #ffdaec;
}

.closeTrapBtn {
  padding: 10px;
  text-align: center;
}

.closeTrapButton {
  font-family: "Antic Slab", serif;
  letter-spacing: 0.2em;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.7s ease 0s;
  cursor: pointer;
  border: solid 2px white;
  background-color: #702849;
  color: #ffdaec;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 5px;
}

.closeTrapButton:hover {
  color: #ffffff;
  box-shadow: 0 0 30px #ffffff;
  text-shadow: 0 0 30px #ffffff;
}

/* =================================
  Media Queries
==================================== */
/* =================================
Board Token
==================================== */
.playerToken {
  width: 120px;
  height: 120px;
  margin-left: 50%;
}

.playerToken.Jon {
  background-image: url("../images/selection_avatars/jon1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Arya {
  background-image: url("../images/selection_avatars/arya1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Sansa {
  background-image: url("../images/selection_avatars/sansa1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Cersei {
  background-image: url("../images/selection_avatars/cersei1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Jaime {
  background-image: url("../images/selection_avatars/jaime1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Tyrion {
  background-image: url("../images/selection_avatars/tyrion1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Daenerys {
  background-image: url("../images/selection_avatars/dany1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Viserys {
  background-image: url("../images/selection_avatars/viserys1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Oberyn {
  background-image: url("../images/selection_avatars/oberyn1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Ellaria {
  background-image: url("../images/selection_avatars/ellaria1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* =================================
Token - LEFT SIDE
==================================== */
.playerTubbie {
  width: 200px;
  height: 250px;
  margin: 20px auto 0;
}

.playerTubbie.Jon {
  background-image: url("../images/selection_avatars/jon1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Arya {
  background-image: url("../images/selection_avatars/arya1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Sansa {
  background-image: url("../images/selection_avatars/sansa1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Cersei {
  background-image: url("../images/selection_avatars/cersei1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Jaime {
  background-image: url("../images/selection_avatars/jaime1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Tyrion {
  background-image: url("../images/selection_avatars/tyrion1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Daenerys {
  background-image: url("../images/selection_avatars/dany1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Viserys {
  background-image: url("../images/selection_avatars/viserys1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Oberyn {
  background-image: url("../images/selection_avatars/oberyn1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Ellaria {
  background-image: url("../images/selection_avatars/ellaria1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 1025px) {
  .playerTubbie {
    width: 120px;
    height: 200px;
    margin: 20px auto 0;
  }

  .playerToken {
    width: 80px;
    height: 80px;
    margin-left: 50%;
  }
}
@media only screen and (max-width: 425px) {
  .playerTubbie {
    width: 120px;
    height: 200px;
    margin: 20px;
    margin-right: 100px;
  }

  .playerToken {
    width: 60px;
    height: 60px;
    margin-left: 50%;
  }
}
@media only screen and (max-width: 375px) {
  .playerTubbie {
    width: 120px;
    height: 200px;
    margin: auto;
  }
}
/* =================================
  The Dice - General
==================================== */
#theDice {
  border-radius: 10%;
  width: 120px;
  height: 120px;
  text-align: center;
  transition: all 0.7s ease 0s;
  margin: auto;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.75);
  border: solid #ffffff 2px;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

#theDice h4 {
  font-family: "Antic Slab", serif;
  margin: 20%;
  font-size: 2em;
}

#theDice:hover {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
  color: #ffffff;
  box-shadow: 0 0 30px #ffffff;
  text-shadow: 0 0 30px #ffffff;
  text-shadow: 0 4px 10px #ffffff;
  cursor: pointer;
}

#theDice.rolls {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.dice-score-holder {
  display: block;
  text-align: center;
  margin: auto;
}

/* =================================
  Dice Images
==================================== */
#theDice.theDice1 {
  background-image: url("../images/dice/one.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#theDice.theDice2 {
  background-image: url("../images/dice/two.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#theDice.theDice3 {
  background-image: url("../images/dice/three.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#theDice.theDice4 {
  background-image: url("../images/dice/four.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#theDice.theDice5 {
  background-image: url("../images/dice/five.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#theDice.theDice6 {
  background-image: url("../images/dice/six.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 1024px) {
  #theDice {
    width: 80px;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  #theDice h4 {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 425px) {
  #theDice {
    width: 60px;
    height: 60px;
  }

  #theDice h4 {
    font-size: 1.2em;
  }
}
/* =================================
General
==================================== */
.dice-score-holder {
  float: left;
  margin: 10px 30px 10px 10px;
  padding: 20px;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  border: solid #ffffff 2px;
  background: linear-gradient(270deg, #000000, #702849, #1a5b6a, #000000);
  background-size: 9000% 900%;
  -webkit-animation: Gradient 40s ease infinite;
  -moz-animation: Gradient 40s ease infinite;
  animation: Gradient 40s ease infinite;
}

#player,
.character-display {
  font-size: 2em;
  font-family: "Antic Slab", serif;
  color: #e5fdff;
  text-shadow: 0 5px 10px #702849;
  margin: auto;
}

#player {
  margin-bottom: 15px;
  font-family: "Rock Salt", cursive;
  text-shadow: 0 5px 15px #1a5b6a;
}

/* =================================
The board
==================================== */
.board {
  margin-top: 5px;
  position: relative;
}

.tile-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  border-radius: 60px;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.75);
  border: solid #ffffff 2px;
  background: linear-gradient(-270deg, #000000, #702849, #1a5b6a, #000000);
  background-size: 900% 900%;
  -webkit-animation: Gradient 40s ease infinite;
  -moz-animation: Gradient 40s ease infinite;
  animation: Gradient 40s ease infinite;
}

.square {
  height: 120px;
  width: 120px;
  margin: 5px;
}

.tile {
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white 2px;
  border-radius: 40px;
  color: #ffffff;
  font-family: "Rock Salt", cursive;
  font-size: 1.2em;
  box-shadow: 0 5px 12px 2px rgba(0, 0, 0, 0.75);
}

.tile:nth-child(even) {
  background: rgba(0, 0, 0, 0.2);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}

.tile.start {
  background: linear-gradient(130deg, #2D282F, #702849, #1a5b6a, #2D282F);
}

.tile.finish {
  border: 2px solid #3ca77b;
  background: linear-gradient(130deg, #1f553f 0%, #3ca77b 50%, #1f553f 100%);
}

/* =================================
Media Queries
==================================== */
@media only screen and (max-width: 1199px) {
  .dice-score-holder {
    padding: 10px;
  }

  #player,
.character-display {
    font-size: 1.8em;
  }

  /* =================================
  The board
  ==================================== */
  .tile-container {
    max-width: 800px;
    padding: 10px;
  }
}
.tile.trap {
  background-color: red;
}

@media only screen and (max-width: 1024px) {
  .dice-score-holder {
    float: left;
    margin: 10px 20px 10px 10px;
    padding: 15px;
  }

  #player,
.character-display {
    font-size: 1.4em;
  }

  #player {
    font-family: "Rock Salt", cursive;
    font-size: 1.4em;
  }

  /* =================================
  The board
  ==================================== */
  .tile-container {
    max-width: 700px;
    padding: 10px;
  }

  .square {
    height: 90px;
    width: 90px;
    margin: 5px;
  }

  .tile {
    border-radius: 30px;
  }
}
@media only screen and (max-width: 769px) {
  .dice-score-holder {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 700px;
    padding: 5px;
  }

  .character-display {
    flex-wrap: wrap;
  }

  #player {
    margin-bottom: auto;
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 426px) {
  .dice-score-holder {
    width: 400px;
    padding: 5px;
    margin: 20px;
    flex-wrap: wrap;
  }

  .tile-container {
    max-width: 400px;
    padding: 10px;
  }

  .square {
    height: 60px;
    width: 60px;
    margin: 5px;
  }

  .tile {
    border-radius: 20px;
    font-size: 0.5em;
  }

  #player {
    margin-bottom: auto;
    font-size: 1.5em;
  }
}
/* =================================
  General
==================================== */
#sky {
  position: absolute;
  z-index: -1;
}

.victoryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  padding: 0 20px;
  margin: 5px;
}
.wrapper h1 {
  text-align: center;
  font-family: "Rock Salt", cursive;
  font-size: 3.5em;
  color: #fff;
  background: linear-gradient(90deg, white 0%, #702849 30%, #1a5b6a 50%, white 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  margin: 0;
  padding: 10px;
}

.victoryName {
  text-shadow: none;
  color: #ffffff;
  margin: 0;
}
.victoryName h2 {
  padding: 0 20px;
  margin: 5px;
  font-size: 2em;
  letter-spacing: 10px;
  background: linear-gradient(90deg, white 0%, #702849 30%, #1a5b6a 50%, white 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
}

/* =================================
  Victory Tubbie Tokens
==================================== */
.victoryTubbie {
  width: 250px;
  height: 300px;
  margin: 0;
}

.victoryTubbie.Jon {
  background-image: url("../images/selection_avatars/jon1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Arya {
  background-image: url("../images/selection_avatars/arya1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Sansa {
  background-image: url("../images/selection_avatars/sansa1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Cersei {
  background-image: url("../images/selection_avatars/cersei1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Jaime {
  background-image: url("../images/selection_avatars/jaime1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Tyrion {
  background-image: url("../images/selection_avatars/tyrion1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Daenerys {
  background-image: url("../images/selection_avatars/dany1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Viserys {
  background-image: url("../images/selection_avatars/viserys1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Oberyn {
  background-image: url("../images/selection_avatars/oberyn1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.victoryTubbie.Ellaria {
  background-image: url("../images/selection_avatars/ellaria1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 425px) {
  .wrapper h1 {
    font-size: 2.2em;
  }

  .victoryName h2 {
    font-size: 2.2em;
    letter-spacing: 5px;
  }
}
@media only screen and (max-width: 425px) and (max-width: 375px) {
  .wrapper h1 {
    font-size: 1.5em;
  }

  .victoryName h2 {
    font-size: 1.5em;
    letter-spacing: 5px;
  }
  .victoryName .victoryTubbie {
    width: 150px;
    height: 200px;
  }
}
/* =================================
Navigation Bar
==================================== */
header {
  width: 100%;
  padding: 0 0 5px;
  text-align: center;
}

nav {
  margin: auto;
}

.navlink {
  font-family: "Antic Slab", serif;
  letter-spacing: 0.2em;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.7s ease 0s;
  cursor: pointer;
  border: solid 2px white;
  background-color: #1a5b6a;
  color: #e5fdff;
  font-size: 1.1em;
}

.navlink:hover:before {
  transform: scale(1.5);
  box-shadow: 0 0 15px #ffffff;
  filter: blur(5px);
}

.navlink:hover {
  color: #ffffff;
  box-shadow: 0 0 30px #ffffff;
  text-shadow: 0 0 30px #ffffff;
}

.logoimage img {
  max-width: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* =================================
Start game button
==================================== */
.startGame {
  font-family: "Antic Slab", serif;
  letter-spacing: 0.2em;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 50px;
  text-align: center;
  transition: all 0.7s ease 0s;
  cursor: pointer;
  border: solid 2px white;
  background-color: #1a5b6a;
  color: #e5fdff;
  font-size: 1.1em;
  background-color: #1F553F;
}

.startGame:hover {
  color: #ffffff;
  box-shadow: 0 0 30px #ffffff;
  text-shadow: 0 0 30px #ffffff;
}

button:disabled {
  border: 2px solid #ffffff;
  background-color: #cccccc;
  color: #2D282F;
}

button:disabled:hover {
  box-shadow: none;
  color: #2D282F;
  cursor: not-allowed;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 769px) {
  nav {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .logoimage img {
    max-width: 150px;
  }

  .navlink,
.navlinkactive {
    display: inline-flex;
  }

  .header {
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 425px) {
  .logoimage img {
    max-width: 130px;
  }

  .navlink {
    font-size: 1.4em;
  }

  .startGame {
    font-size: 1.4em;
  }
}
/* =================================
  Button Variations
==================================== */
.smallbtn {
  font-size: 1em;
}

.tealbtn {
  background-color: #1a5b6a;
  color: #e5fdff;
}

.pinkbtn {
  background-color: #702849;
  color: #ffdaec;
}

.greenbtn {
  background-color: #1F553F;
  color: #ffffff;
}

.toTheTop {
  display: none;
  text-align: center;
  margin: 40px auto;
}
.toTheTop .toTopButton {
  font-family: "Antic Slab", serif;
  font-size: 1.2em;
  text-decoration: none;
  color: #e5fdff;
  background-color: #1F553F;
  padding: 10px;
  border: solid #ffffff 2px;
  border-radius: 10px;
  margin: 0 auto;
}

/* =================================
Media Queries
==================================== */
@media only screen and (max-width: 1024px) {
  .toTheTop {
    display: block;
  }
}
/* =================================
Body, Global
==================================== */
* {
  box-sizing: border-box;
}

.container {
  display: flex;
  margin: 0;
  justify-content: center;
  flex-wrap: wrap;
}

.content-wrap {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 0;
}

body {
  background: linear-gradient(180deg, #1e1b1f 0%, black 100%);
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 900px) {
  .container {
    flex-direction: row;
  }
}
/* =================================
  General
==================================== */
footer {
  text-align: center;
  padding: 0 0 20px;
  width: 100%;
  padding-top: auto;
}

.creator {
  font-family: "Antic Slab", serif;
  color: rgba(112, 40, 73, 0.5);
}

.creator:hover {
  color: #ffdaec;
}

/*# sourceMappingURL=styles.css.map */
