/* =================================
  Button Variations
==================================== */
.smallbtn {
  font-size: 1em;
}

.tealbtn {
  background-color: $teal;
  color: $brightteal;
}

.pinkbtn {
  background-color: $pink;
  color: $brightpink;
}

.greenbtn {
  background-color: $darkgreen;
  color: $white;
}
