/* =================================
Body, Global
==================================== */

* {
	box-sizing: border-box;
}

.container {
	display: flex;
	margin: 0;
	justify-content: center;
	flex-wrap: wrap;
}

.content-wrap {
	max-width: 1440px;
	margin: 0 auto;
	padding-top: 0;
}

body {
	background: linear-gradient(180deg, rgba(30,27,31,1) 0%, rgba(0,0,0,1) 100%);
}
/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 900px) {
	.container {
		flex-direction: row;
	}
}
@media only screen and (max-width: 769px) {}
@media only screen and (max-width: 425px) {}
@media only screen and (max-width: 375px) {}
