/* =================================
Character Selection Avatars
==================================== */

.charBox {
  border-radius: 50px;
	padding: 50px;
	margin: 5px;
  @include pink-gradient;
  @include pinkshine;
  max-width: 250px;
}

.charBox:nth-child(odd) {
 @include teal-gradient;
 @include tealshine;
}

.charBox:hover {
  @include hover-white;
  box-shadow: 0 0 20px $white;
  @include shine-hover;
}

.charBox:hover:before {
  @include hover-white-before;
  transform: scale(1.1);
}

.charinfo {
  text-align: center;
  border-radius: 20px;
  margin-top:50px;
}

.charinfo p {
  padding: 5px;
  font-size: 1.4em;
  font-family: $textFont;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.tubbie {
	max-width: 150px;
  transition: all 0.7s;
}

.tubbie:hover {
  transform: scale(1.4);

}

/* =================================
Other
==================================== */
.characterSelectInfo {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}


.header {
  text-align: center;
  font-family: $textFont;
  letter-spacing: 5px;
  color: $brightteal;
  font-size: 1.1em;
  text-shadow: 0px 5px 15px $teal;
  margin-right: auto;
}


.selection-container {
  text-align: center;
  font-family: $headerFont;
  letter-spacing: 3px;
  color: $brightteal;
  font-size: 2em;
  margin-bottom: 5px;
  text-shadow: 0px 5px 15px $pink;


}

.startGame {
  @include basebutton;
  @include white-teal-btn;
  font-size: 1.3em;
}

.navlink:hover:before {
  @include hover-white-before;
}

.startGame:hover {
  @include hover-white;
}

button:disabled{
  border: 2px solid $white;
  background-color: #cccccc;
  color: $darkgray;
}

button:disabled:hover{
  box-shadow: none;
  color: $darkgray;
  cursor: not-allowed;
}

.theChosen.charBox{
    box-shadow: 0px 5px 50px $black;
    transform: scale(1.1);
    background-color: $white;
}

.theChosen img{
    transform: scale(1.4);
}
