/* =================================
Character Selection Avatars
==================================== */

.charBox {
  border-radius: 50px;
	padding: 6vh;
	margin: 3vh;
  @include pink-gradient;
  @include pinkshine;
}

.charBox:nth-child(odd) {
 @include teal-gradient;
 @include tealshine;
}

.charBox:hover {
  @include hover-white;
  box-shadow: 0 0 20px $white;
  @include shine-hover;
}

.charBox:hover:before {
  @include hover-white-before;
  transform: scale(1.1);
}


.tubbie {
	max-width: 20vh;
  transition: all 0.7s;
}

.tubbie:hover {
  transform: scale(1.4);

}

/* =================================
Other
==================================== */

.header {
  text-align: center;
  font-family: $textFont;
  letter-spacing: 5px;
  color: $brightteal;
  font-size: 1.1em;
}


.startGame {
  @include basebutton;
  @include white-teal-btn;
  font-size: 1.3em;
}

.navlink:hover:before {
  @include hover-white-before;
}

.startGame:hover {
  @include hover-white;
}

button:disabled{
  border: 2px solid $white;
  background-color: #cccccc;
  color: $darkgray;
}

button:disabled:hover{
  box-shadow: none;
  color: $darkgray;
  cursor: not-allowed;
}

.theChosen.charBox{
    box-shadow: 0 0 30px $teal;
    transform: scale(1.1);
}

.theChosen img{
    transform: scale(1.2);
}


.selection-container {
  text-align: center;
  font-family: $headerFont;
  letter-spacing: 3px;
  color: $brightteal;
  font-size: 2em;
  margin-bottom: 2%;
}
