#theDice {
  //background:linear-gradient( to bottom, #bcc6cc, #eee, #bcc6cc);
  border-radius: 10%;
  width: 120px;
  height: 120px;
  text-align: center;
  
  transition: all 0.7s ease 0s;
  margin: auto;
  box-shadow: 0px 5px 12px 2px rgba($black, 0.75);
  border: solid $white 2px;
  color: $white;
}

#theDice h4 {
  font-family: $textFont;
  margin: 20%;
  font-size: 2em;
}

#theDice:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) infinite;
  @include hover-white;
  color: $black;
  text-shadow: 0px 4px 5px #000000;
  cursor: pointer;
}

#theDice.rolls {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.dice-score-holder {
  display: block;
  text-align: center;
  margin: auto;
}

#theDice.theDice1 {
  background-image: url("../images/dice/one.png");
  background-repeat: no-repeat;
  background-size: contain;

}
#theDice.theDice2 {
  background-image: url("../images/dice/two.png");
  background-repeat: no-repeat;
  background-size: contain;

}
#theDice.theDice3 {
  background-image: url("../images/dice/three.png");
  background-repeat: no-repeat;
  background-size: contain;

}
#theDice.theDice4 {
  background-image: url("../images/dice/four.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#theDice.theDice5 {
  background-image: url("../images/dice/five.png");
  background-repeat: no-repeat;
  background-size: contain;
}
#theDice.theDice6 {
  background-image: url("../images/dice/six.png");
  background-repeat: no-repeat;
  background-size: contain;
}
