/* =================================
  General
==================================== */

footer {
  text-align: center;
  padding: 0 0 20px;
  width: 100%;
  padding-top: 50px;
}

.creator {
  font-family: $textFont;
  color: rgba($pink, 0.5);
}

.creator:hover {
  color: rgba($pink, 1);
}
