/* =================================
Navigation Bar
==================================== */
header {
  width: 100%;
  padding: 0 0 5px;
  text-align: center;
}

nav {
  margin: auto;
}

.navlink {
  @include basebutton;
  @include white-teal-btn;
  font-size: 1.1em;
}

.navlink:hover:before {
  @include hover-white-before;
}

.navlink:hover {
  @include hover-white;
}


.logoimage img {
  max-width: 200px;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* =================================
Start game button
==================================== */

.startGame {
  @include basebutton;
  @include white-teal-btn;
  font-size: 1.1em;
  background-color: $darkgreen;
}


.startGame:hover {
  @include hover-white;
}

button:disabled {
  border: 2px solid $white;
  background-color: #cccccc;
  color: $darkgray;
}

button:disabled:hover {
  box-shadow: none;
  color: $darkgray;
  cursor: not-allowed;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 769px) {
  nav {
    text-align: center;
    margin: auto;
    width: 100%;
  }

  .logoimage img {
    max-width: 150px;
  }

  .navlink,
  .navlinkactive {
    display: inline-flex;
  }


  .header {
    font-size: 0.8em;
  }

}
@media only screen and (max-width: 425px) {
  .logoimage img {
    max-width: 130px;
  }

  .navlink {
    font-size: 1.4em;
  }

  .startGame {

    font-size: 1.4em;
  }
}
@media only screen and (max-width: 375px) {}
