/* =================================
Navigation Bar
==================================== */

header {
  width: 100%;
  padding: 0px;
  padding-bottom: 20px;
  text-align: center;
}

nav {
  margin: auto;
  margin-bottom: 20px;
}

.navlink {
  @include basebutton;
  @include white-pink-btn;
  font-size: 1.3em;
}

.navlink:hover:before {
@include hover-white-before;
}

.navlink:hover {
  @include hover-white;
}

.logoimage img {
  max-width: 20%;
  margin-bottom: 5%;
  margin-top: 1%;
}
/* =================================
  Media Queries
==================================== */



@media only screen and (max-width: 900px) {
}


@media only screen and (max-width: 769px) {
  nav {
    text-align: center;
    margin: auto;
    width: 100%;
  }

.logoimage img {
  max-width: 50%;
}

.navlink, .navlinkactive {
  display: inline-flex;

}

}
@media only screen and (max-width: 425px) {
  .logoimage img {

  }
}
@media only screen and (max-width: 375px) {
}
