#theDice {
  background: linear-gradient(130deg, rgba($darkgray, 1) 0%, rgba($white, 1) 48%, rgba($darkgray, 1) 100%);
  border-radius: 10%;
  width: 100px;
  height: 100px;
  font-size: 1.8em;
  text-align: center;
  font-family: $headerFont;
  text-shadow: 0px 4px 5px #000000;
  transition: all 0.7s ease 0s;

}

#theDice h4 {
  font-family: $textFont;
  margin: 25%;
}

#theDice:hover {
  animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
  @include hover-white;
  color: $black;
  text-shadow: 0px 4px 5px #000000;
}

#theDice.rolls {
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.square {
  transform: rotate(0);
  height: 150px;
  width: 150px;
  margin: 3px;
}

.character-score-display {
  font-size: 28px;
}

.board {
  margin-top: 20px;
  position: relative;
}

.tile-container {
  display: flex;
  justify-content: center;
  width: 1000px;
  flex-wrap: wrap;
}

.tile {
  background: $teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tile:nth-child(odd) {
  background-color: $pink;
}

.tile.start {
  background: linear-gradient(-130deg, rgba($darkgray, 1) 0%, rgba($white, 1) 48%, rgba($darkgray, 1) 100%);
  border: 2px solid 3f4437;
}

.tile.finish {
  background: linear-gradient(130deg, rgba(darkgreen, 1) 0%, rgba($white, 1) 48%, rgba(darkgreen, 1) 100%);
  border: 2px solid 3f4437;
}

.playerToken {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 10px 0;
}

.token-1.start-only,
.token-2.start-only {
  position: absolute;
  left: -50px;
}

.character-display {
  color: white;
}
