/* =================================
General
==================================== */

.dice-score-holder {
  float: left;
  margin: 10px 30px 10px 10px;
  padding: 20px;
  box-shadow: 0 5px 12px 2px rgba($black, 0.75);
  border-radius: 40px;
  border: solid $white 2px;
  background: linear-gradient(270deg, $black, $pink, $teal, $black);
  background-size: 9000% 900%;
  -webkit-animation: Gradient 40s ease infinite;
  -moz-animation: Gradient 40s ease infinite;
  animation: Gradient 40s ease infinite;
}

#player,
.character-display {
  font-size: 2em;
  font-family: $textFont;
  color: $brightteal;
  text-shadow: 0 5px 10px $pink;
  margin: auto;
}

#player {
  margin-bottom: 15px;
  font-family: $headerFont;
  text-shadow: 0 5px 15px $teal;
}
/* =================================
The board
==================================== */

.board {
  margin-top: 5px;
  position: relative;
}

.tile-container {
  display: flex;
  justify-content: center;
  max-width: 900px;
  flex-wrap: wrap;
  margin: auto;
  padding: 10px;
  border-radius: 60px;
  box-shadow: 0 5px 12px 2px rgba($black, 0.75);
  border: solid $white 2px;
  background: linear-gradient(-270deg, $black, $pink, $teal, $black);
  background-size: 900% 900%;
  -webkit-animation: Gradient 40s ease infinite;
  -moz-animation: Gradient 40s ease infinite;
  animation: Gradient 40s ease infinite;
}

.square {
  height: 120px;
  width: 120px;
  margin: 5px;
}

.tile {
  background: rgba($white, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid white 2px;
  border-radius: 40px;
  color: $white;
  font-family: $headerFont;
  font-size: 1.2em;
  box-shadow: 0 5px 12px 2px rgba($black, 0.75);
}

.tile:nth-child(even) {
  background: rgba($black, 0.2);
  background-position: top left;
  background-repeat: repeat;
  background-attachment: fixed;
}

.tile.start {
  background: linear-gradient(130deg, $darkgray, $pink, $teal, $darkgray);
}

.tile.finish {
  border: 2px solid $green;
  background: linear-gradient(130deg, rgba($darkgreen, 1) 0%, rgba($green, 1) 50%, rgba($darkgreen, 1) 100%);
}



.tile.trap {
  background-color: red;
}


.tile.luck {
  background-color: blue;
}

//--------------------------------------------------------------------------------------//
/* =================================
Media Queries
==================================== */
@media only screen and (max-width: 1199px) {
  .dice-score-holder {
    padding: 10px;
  }

  #player,
  .character-display {
    font-size: 1.8em;
  }
  /* =================================
  The board
  ==================================== */
.tile-container {
    max-width: 800px;
    padding: 10px;
  }
}


//--------------------------------------------------------------------------------------//

@media only screen and (max-width: 1024px) {
  .dice-score-holder {
    float: left;
    margin: 10px 20px 10px 10px;
    padding: 15px;
  }

  #player,
  .character-display {
    font-size: 1.4em;
  }

  #player {
    font-family: $headerFont;
    font-size: 1.4em;
  }
  /* =================================
  The board
  ==================================== */

  .tile-container {
    max-width: 700px;
    padding: 10px;
  }
  .square {
    height: 90px;
    width: 90px;
    margin: 5px;
  }

  .tile {
    border-radius: 30px;
  }
}

//--------------------------------------------------------------------------------------//
@media only screen and (max-width: 769px) {
  .dice-score-holder {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 700px;
    padding: 5px;
  }

  .character-display {
    flex-wrap:wrap;
  }

  #player {
    margin-bottom: auto;
    font-size: 2.5em;
  }
}

//--------------------------------------------------------------------------------------//
@media only screen and (max-width: 426px) {
  .dice-score-holder {
    width: 400px;
    padding: 5px;
    margin: 20px;
    flex-wrap: wrap;
  }
  .tile-container {
    max-width: 400px;
    padding: 10px;
  }
  .square {
    height: 60px;
    width: 60px;
    margin: 5px;
  }

  .tile {
    border-radius: 20px;
    font-size: 0.5em;
  }

  #player {
    margin-bottom: auto;
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 375px) {}
