#dice {
    border: 2px solid black;
    background: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    margin: 15px 0;
    font-size: 18px;
}

#dice.rolling {
    color: red;
    background: pink;
    font-size: 20px;
}

.square {
    transform: rotate(0);
    height: 150px;
    width: 150px;
    margin: 3px;
}
.character-score-display {
    font-size: 28px;
}

.board {
    margin-top: 20px;
    position: relative;
}

.tile-container {
    display: flex;
    justify-content: center;
    width: 1000px;
    flex-wrap: wrap;
}

.tile {
    border: 2px solid #948b81;
    background: $teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tile:nth-child(odd){
  background-color: $pink;
}

.tile.start {
    background: grey;
    border: 2px solid 3f4437;
}

.tile.finish {
    background: darkolivegreen;
    border: 2px solid 3f4437;
}

.token {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 10px 0;
}

.token-2 {
    background: darkblue;
}

.token-1.start-only,
.token-2.start-only {
    position: absolute;
    left: -50px;
}

.character-display {
    color: white;
}
