
.playerToken {
  width: 60px;
  height: 80px;
  border: 2px solid black;
  margin: 10px 0;

}

#playerToken.jonSnow {
  background-image: url("./images/selection_avatars/jon1.png");
}

#playerToken.arya {
  background-image: url("./images/selection_avatars/arya.png");
}

#playerToken.sansa {
  background-image: url("./images/selection_avatars/sansa1.png");
}

#playerToken.cersei {
  background-image: url("./images/selection_avatars/cersei1.png");
}

#playerToken.jaime {
  background-image: url("./images/selection_avatars/jaime1.png");
}

#playerToken.tyrion {
  background-image: url("./images/selection_avatars/tyrion1.png");
}

#playerToken.dany {
  background-image: url("./images/selection_avatars/dany1.png");
}
#playerToken.viserys {
  background-image: url("./images/selection_avatars/viserys1.png");
}

#playerToken.oberyn {
  background-image: url("./images/selection_avatars/oberyn1.png");
}

#playerToken.ellaria {
  background-image: url("./images/selection_avatars/ellaria1.png");
}
