
.playerToken {
  width: 9vh;
  height: 12vh;

}

.playerToken.Jon {
  background-image: url("../images/selection_avatars/jon1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Arya {
  background-image: url("../images/selection_avatars/arya1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Sansa {
  background-image: url("../images/selection_avatars/sansa1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Cersei {
  background-image: url("../images/selection_avatars/cersei1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Jaime {
  background-image: url("../images/selection_avatars/jaime1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Tyrion {
  background-image: url("../images/selection_avatars/tyrion1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Daenerys {
  background-image: url("../images/selection_avatars/dany1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.playerToken.Viserys {
  background-image: url("../images/selection_avatars/viserys1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Oberyn {
  background-image: url("../images/selection_avatars/oberyn1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerToken.Ellaria {
  background-image: url("../images/selection_avatars/ellaria1.png");
  background-repeat: no-repeat;
  background-size: contain;
}





.playerTubbie {
  width: 20vh;
  height: 30vh;
  margin: 20px auto 0px;
}

.playerTubbie.Jon {
  background-image: url("../images/selection_avatars/jon1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Arya {
  background-image: url("../images/selection_avatars/arya1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Sansa {
  background-image: url("../images/selection_avatars/sansa1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Cersei {
  background-image: url("../images/selection_avatars/cersei1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Jaime {
  background-image: url("../images/selection_avatars/jaime1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Tyrion {
  background-image: url("../images/selection_avatars/tyrion1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Daenerys {
  background-image: url("../images/selection_avatars/dany1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.playerTubbie.Viserys {
  background-image: url("../images/selection_avatars/viserys1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Oberyn {
  background-image: url("../images/selection_avatars/oberyn1.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.playerTubbie.Ellaria {
  background-image: url("../images/selection_avatars/ellaria1.png");
  background-repeat: no-repeat;
  background-size: contain;
}
