/* =================================
  MODAL - Traps
==================================== */
.trap-content {
  width: 60%;
  color: $brightpink;
}
.trap-content h1 {
  background: rgba($pink, 0.7);
  border-bottom: solid 2px $brightpink;
}
.closeTrapBtn {
  padding: 10px;
  text-align: center;
}

.closeTrapButton {
  @include basebutton;
  @include white-pink-btn;
}
.closeTrapButton:hover {
  @include hover-white;
}

/* =================================
  MODAL - Luck Traps
==================================== */
.luck-content {
  width: 60%;
  color: $white;
}
.luck-content h1 {
  background: rgba($darkgreen, 1);
  color: $brightteal;
}

.closeLuckpBtn {
  padding: 10px;
  text-align: center;
}

.closeLuckButton {
  @include basebutton;
  @include white-teal-btn;
}

.closeLuckButton:hover {
  @include hover-white;
}

/* =================================
  Media Queries
==================================== */
@media only screen and (max-width: 900px) {}
@media only screen and (max-width: 769px) {}
@media only screen and (max-width: 425px) {}
@media only screen and (max-width: 375px) {}
