


$black: #000000;
$white : #ffffff;

$darkgray: #1e1b1f;
$brightpink: #e3ceea;
$pink: #a06e82;
$teal: #497f89;
$brightteal: #cee8ea;



$headerFont: "Rock Salt", cursive;
$textFont: "Antic Slab", serif;

$whiteBorder: solid 2px white;
