


$black: #000000;
$white : #ffffff;

$darkgray: #2D282F;
$pink: #702849;
$teal: #1a5b6a;
$brightteal: #e5fdff;
$brightpink: #ffdaec;
$green: #3ca77b;
$darkgreen: #1F553F;



$headerFont: "Rock Salt", cursive;
$textFont: "Antic Slab", serif;

$headerFont2: "Pacifico", cursive;
$textFont2: "Josefin Sans", serif;

$whiteBorder: solid 2px white;



/*$black: #000000;
$white : #ffffff;

$darkgray: #1e1b1f;
$pink: #c16797;
$teal: #49a3b1;
$brightteal: #eefeff;
$brightpink: #FFE6F3;*/
