/* =================================
Colors
==================================== */
$black: #000000;
$white: #ffffff;
$darkgray: #2D282F;
$pink: #702849;
$teal: #1a5b6a;
$brightteal: #e5fdff;
$brightpink: #ffdaec;
$green: #3ca77b;
$darkgreen: #1F553F;

/* =================================
Fonts
==================================== */
$headerFont: "Rock Salt", cursive;
$textFont: "Antic Slab", serif; /*

=================================
Misc.
==================================== */
$whiteBorder: solid 2px white; /*

=================================
Old Color Theme
==================================== */
/*$black: #000000;
$white : #ffffff;

$darkgray: #1e1b1f;
$pink: #c16797;
$teal: #49a3b1;
$brightteal: #eefeff;
$brightpink: #FFE6F3;*/
